@charset "UTF-8";
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/regular.woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/light.woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/bold.woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/medium.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/semibold.woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Apple';
  src: url("../assets/fonts/thin.woff");
  font-weight: 100;
  font-style: normal; }
button:focus, button:active, a:focus, a:active {
  outline: none; }

body {
  font-family: 'Apple', sans-serif;
  font-weight: 300;
  position: relative;
  padding-top: 73px; }

.bg-linear {
  background-image: linear-gradient(-180deg, #3B35A5 0%, #3DD89D 100%); }

@media (min-width: 991px) {
  .container {
    padding-left: 12.5px;
    padding-right: 12.5px;
    max-width: 1140px; }

  .container-fluid {
    padding-left: 12.5px;
    padding-right: 12.5px; }

  .row {
    margin-right: -12.5px;
    margin-left: -12.5px; }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 12.5px;
    padding-right: 12.5px; } }
.text-big {
  font-size: 32px;
  font-weight: 200;
  color: #07041A;
  letter-spacing: 0;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .text-big {
      font-size: 21px; } }

.text-normal {
  font-size: 20px;
  color: #07041A;
  letter-spacing: 0;
  line-height: 32px; }
  @media (max-width: 991px) {
    .text-normal {
      font-size: 15px;
      font-weight: 300;
      line-height: 25px; } }

.text-small {
  font-size: 14px;
  font-weight: 300;
  color: #07041A;
  letter-spacing: 0;
  line-height: 20px; }
  @media (max-width: 991px) {
    .text-small {
      font-size: 12px;
      line-height: 17px; } }

.text-red {
  color: #D83D51; }

.text-purple {
  color: #3B35A5; }

.h3 {
  font-size: 36px;
  color: #07041A;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .h3 {
      font-size: 24px;
      line-height: 32px; } }

.link {
  color: #3DD89D;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
  .link:hover {
    color: #3B35A5;
    text-decoration: none; }

.button {
  border: 0;
  cursor: pointer; }
  .button.btn-grn {
    background: #3DD89D;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding-top: 19px;
    padding-bottom: 17px;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .button.btn-grn:hover {
      background: #30d597; }
    .button.btn-grn:active {
      background: #28c98c; }
  .button.btn-grn-outline {
    padding: 11px 21px;
    border: 1px solid #3DD89D;
    color: #3DD89D;
    border-radius: 4px;
    background: white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase; }
    .button.btn-grn-outline:hover {
      color: white;
      background: #3DD89D; }
    .button.btn-grn-outline:active {
      background: #5bdeac; }

header {
  background: white;
  padding-top: 19px;
  padding-bottom: 19px;
  box-shadow: 0 3px 2px 0 rgba(74, 74, 74, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1021; }
  @media (max-width: 991px) {
    header {
      padding-top: 10px;
      padding-bottom: 11px; } }
  header .container-fluid {
    padding-left: 21px;
    padding-right: 23px; }
    @media (max-width: 991px) {
      header .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
  header .row {
    align-items: center; }
  @media (max-width: 991px) {
    header .logo-container {
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; } }
  header .logo-container a:hover {
    text-decoration: none; }
  @media (min-width: 992px) {
    header .logo-container img {
      margin-top: -2px;
      margin-right: 19px; } }
  @media (max-width: 991px) {
    header .logo-container img {
      margin-bottom: 7px;
      width: 63px; } }
  @media (max-width: 991px) {
    header .logo-container .select-container {
      height: 15px; } }
  @media (min-width: 992px) {
    header .logo-container .select-container {
      display: inline-block; } }
  header .nav-links {
    display: flex; }
    @media (max-width: 991px) {
      header .nav-links {
        display: none; } }
    header .nav-links .link {
      color: #07041A;
      margin-right: 9px;
      margin-left: 9px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      transition: all .2s; }
      header .nav-links .link:after {
        position: absolute;
        width: 100%;
        height: 7px;
        content: '';
        background: #3DD89D;
        top: -27px;
        left: 0;
        opacity: 0;
        transition: all .2s; }
      header .nav-links .link:first-of-type {
        margin-left: 0; }
      header .nav-links .link:last-of-type {
        margin-right: 0; }
      header .nav-links .link:hover {
        text-decoration: none;
        color: #3DD89D; }
        header .nav-links .link:hover:after {
          opacity: .5; }
      header .nav-links .link.active:after {
        opacity: 1; }
  header .phone-block a {
    display: block;
    transition: all .2s; }
    header .phone-block a:hover {
      text-decoration: none;
      color: #3DD89D; }
  header .phone-block .phone {
    color: #3B35A5;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
    font-weight: 500; }
    @media (max-width: 991px) {
      header .phone-block .phone {
        font-size: 14px; } }
  header .phone-block .call-back {
    font-size: 10px;
    color: #6E69B2;
    letter-spacing: 0;
    text-align: right; }
    @media (max-width: 991px) {
      header .phone-block .call-back {
        font-size: 9px; } }
  header .login-block {
    margin-left: 23px; }
    header .login-block a {
      font-size: 13px;
      color: #3DD89D;
      text-transform: uppercase; }

.mobile-menu-toggler {
  min-width: 25px;
  display: block; }
  .mobile-menu-toggler .close-icon {
    display: none; }
  .mobile-menu-toggler[aria-expanded="true"] .burger-icon {
    display: none; }
  .mobile-menu-toggler[aria-expanded="true"] .close-icon {
    display: block; }
  .mobile-menu-toggler[aria-expanded="false"] .burger-icon {
    display: block; }
  .mobile-menu-toggler[aria-expanded="false"] .close-icon {
    display: none; }

.mobile-menu {
  padding-top: 28px; }
  .mobile-menu .h3 {
    color: #3DD89D;
    line-height: 25px; }
    .mobile-menu .h3:hover {
      color: #3B35A5;
      text-decoration: none; }
  .mobile-menu .link-container {
    margin-bottom: 25px; }
  .mobile-menu .main-menu {
    padding-bottom: 10px;
    border-bottom: 2px solid #EBEAF2;
    margin-bottom: 31px; }
  .mobile-menu .secondary-menu {
    padding-bottom: 12px;
    border-bottom: 2px solid #EBEAF2;
    margin-bottom: 28px; }
    .mobile-menu .secondary-menu .row {
      align-items: flex-start; }
    .mobile-menu .secondary-menu .link-container {
      margin-bottom: 19px; }
      .mobile-menu .secondary-menu .link-container a {
        font-weight: 500;
        font-size: 18px;
        color: #3DD89D;
        letter-spacing: 0;
        line-height: 19px; }
        .mobile-menu .secondary-menu .link-container a:hover {
          color: #3B35A5;
          text-decoration: none; }
  .mobile-menu .footer-links .link-container {
    margin-bottom: 17px; }
    .mobile-menu .footer-links .link-container a {
      font-weight: 500;
      font-size: 12px;
      color: #706E7A;
      letter-spacing: 0;
      line-height: 17px; }
      .mobile-menu .footer-links .link-container a:hover {
        color: #3DD89D; }
  .mobile-menu .btn-container {
    width: 100%;
    padding-top: 6px;
    margin-bottom: 18px; }
    .mobile-menu .btn-container .button.btn-grn {
      width: 100%;
      height: 40px;
      padding: 0; }

.change-city {
  height: 28px;
  background: white;
  border: 1px solid #3DD89D;
  border-radius: 14px;
  display: inline-block;
  padding-left: 14px;
  padding-top: 7px;
  padding-right: 28px;
  cursor: pointer; }
  @media (max-width: 991px) {
    .change-city {
      display: block;
      height: 28px;
      border: none;
      padding-left: 0;
      padding-top: 0;
      background: transparent; } }
  .change-city[aria-describedby] .change-city__title:after {
    transform: rotate(180deg); }
  .change-city__title {
    font-size: 10px;
    color: #07041A;
    letter-spacing: 0;
    position: relative; }
    .change-city__title:after {
      content: '';
      position: absolute;
      right: -16px;
      background: #3DD89D;
      width: 8px;
      height: 7px;
      top: 4px;
      -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
      clip-path: polygon(50% 100%, 0 0, 100% 0); }
  .change-city__popover {
    display: flex;
    flex-direction: column; }
    .change-city__popover a {
      width: 100%;
      font-size: 14px;
      color: #07041A;
      letter-spacing: 0;
      text-align: center;
      line-height: 37px; }
      .change-city__popover a:hover {
        color: #3DD89D;
        text-decoration: none; }

.popover {
  border: 1px solid #EBEAF2;
  box-shadow: 0 3px 2px 0 rgba(74, 74, 74, 0.25);
  animation: fromBottom ease-in .3s;
  border-radius: 8px; }
  .popover.bs-popover-bottom {
    margin-top: 10px; }
  .popover .popover-body {
    padding: 13px 21px; }
  .popover .arrow:before {
    border-bottom-color: #EBEAF2;
    border-top-color: #EBEAF2; }

@keyframes fromBottom {
  0% {
    opacity: 0;
    margin-top: 30px; }
  100% {
    opacity: 1;
    margin-top: 10px; } }
.big-promo {
  background: linear-gradient(rgba(59, 53, 165, 0.5) 0%, rgba(59, 53, 165, 0.5) 100%), url("../assets/img/main-promo-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 576px;
  text-align: center; }
  .big-promo .big-promo-container {
    padding-top: 155px; }
    @media (max-width: 991px) {
      .big-promo .big-promo-container {
        padding-top: 40px; } }
    .big-promo .big-promo-container__title {
      font-size: 58px;
      color: #FFFFFF;
      letter-spacing: -1.5px;
      text-align: center;
      line-height: 49px;
      margin-bottom: 40px;
      font-weight: bold; }
      @media (max-width: 991px) {
        .big-promo .big-promo-container__title {
          font-size: 30px; } }
    .big-promo .big-promo-container__text {
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 33px;
      margin-bottom: 39px; }
    .big-promo .big-promo-container__btn {
      margin-bottom: 112px; }
      .big-promo .big-promo-container__btn button {
        padding-left: 34px;
        padding-right: 34px; }
    .big-promo .big-promo-container__nav {
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 26px; }
      .big-promo .big-promo-container__nav .nav__title {
        margin-bottom: 4px; }
      .big-promo .big-promo-container__nav .nav__item {
        color: #3DD89D;
        margin-right: 6px;
        margin-left: 6px; }
        .big-promo .big-promo-container__nav .nav__item:last-of-type {
          margin-right: 0; }
        .big-promo .big-promo-container__nav .nav__item.active {
          color: white;
          font-weight: bold; }

.why-section {
  padding-top: 95px;
  padding-bottom: 82px; }
  .why-section .why__title {
    font-size: 58px;
    color: #07041A;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 30px;
    margin-bottom: 61px; }
  .why-section .why__text {
    font-size: 20px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 32px; }
    .why-section .why__text:last-of-type {
      margin-bottom: 0; }
  .why-section .why-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .why-section .why-items__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 35px; }
      .why-section .why-items__item .img img {
        max-width: 100%; }
      .why-section .why-items__item .text {
        width: 165px;
        text-align: center;
        font-size: 14px;
        color: #706E7A;
        letter-spacing: 0;
        line-height: 20px;
        height: 40px; }
      .why-section .why-items__item:first-of-type {
        margin-bottom: 47px; }
        .why-section .why-items__item:first-of-type .img {
          margin-bottom: 25px; }
      .why-section .why-items__item:nth-of-type(2) {
        margin-bottom: 54px; }
        .why-section .why-items__item:nth-of-type(2) .img {
          margin-bottom: 21px; }
      .why-section .why-items__item:nth-of-type(3) {
        margin-bottom: 53px; }
        .why-section .why-items__item:nth-of-type(3) .img {
          margin-bottom: 24px; }
      .why-section .why-items__item:nth-of-type(4) {
        margin-bottom: 42px; }
        .why-section .why-items__item:nth-of-type(4) .img {
          margin-bottom: 18px; }
      .why-section .why-items__item:nth-of-type(5) {
        margin-bottom: 49px; }
        .why-section .why-items__item:nth-of-type(5) .img {
          padding-top: 8px;
          margin-bottom: 24px; }
      .why-section .why-items__item:nth-of-type(6) {
        margin-bottom: 53px; }
        .why-section .why-items__item:nth-of-type(6) .img {
          padding-top: 8px;
          margin-bottom: 23px; }
      .why-section .why-items__item:nth-of-type(7) {
        margin-bottom: 0; }
        .why-section .why-items__item:nth-of-type(7) .img {
          margin-bottom: 23px; }
      .why-section .why-items__item:nth-of-type(8) {
        margin-bottom: 0; }
        .why-section .why-items__item:nth-of-type(8) .img {
          padding-top: 8px;
          margin-bottom: 23px; }
      .why-section .why-items__item:last-of-type {
        margin-bottom: 0; }
        .why-section .why-items__item:last-of-type .img {
          margin-bottom: 15px; }

.abonement {
  background: url("../assets/img/abonement-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 392px;
  padding: 50px; }
  @media (max-width: 991px) {
    .abonement {
      height: auto; } }
  .abonement__container {
    border: 2px solid rgba(235, 234, 242, 0.2);
    border-radius: 15px;
    height: 264px;
    position: relative;
    display: flex;
    padding-top: 44px; }
    @media (max-width: 991px) {
      .abonement__container {
        flex-wrap: wrap;
        height: auto; } }
    .abonement__container:after {
      position: absolute;
      content: '';
      background: #3e2fac;
      width: 225px;
      height: 4px;
      top: -3px;
      right: 0;
      left: 0;
      z-index: 4;
      margin: 0 auto; }
  .abonement__title {
    position: absolute;
    top: -17px;
    left: 0;
    margin: 0 auto;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    z-index: 5;
    line-height: 32px;
    right: 0; }
  .abonement__item {
    width: 100%; }
    @media (min-width: 992px) {
      .abonement__item {
        width: 25%; } }
    .abonement__item--num {
      height: 103px;
      font-size: 75px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center; }
    .abonement__item--text {
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 32px; }

.partners-section {
  padding-top: 96px;
  padding-bottom: 80px; }
  .partners-section .title {
    font-size: 48px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
    height: 66px;
    margin-bottom: 16px; }
  .partners-section .text {
    font-size: 20px;
    color: #07041A;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    margin-bottom: 54px; }
  .partners-section .tile-item {
    border: 1px solid #EBEAF2; }
  .partners-section .tile-item__img {
    margin-bottom: 32px; }
  .partners-section .tile-item__text {
    padding-right: 35px;
    padding-bottom: 35px;
    height: 243px;
    padding-left: 31px; }
  .partners-section .tile-item__text__title {
    color: #706E7A;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 16px; }
  .partners-section .tile-item__text__text {
    font-size: 14px;
    color: black;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 0; }
    .partners-section .tile-item__text__text:nth-of-type(2) {
      margin-bottom: 16px; }
    .partners-section .tile-item__text__text:nth-of-type(3) {
      font-weight: bold; }
  .partners-section .btn-grn {
    margin-top: 31px;
    width: 220px; }

.blog-section {
  padding-top: 21px;
  padding-bottom: 80px; }
  .blog-section .title {
    font-size: 48px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
    height: 66px;
    margin-bottom: 46px; }
  .blog-section .btn-grn {
    margin-top: 31px;
    width: 220px; }

.subscribe {
  background: url("../assets/img/subscribe-green-bg.png");
  background-size: cover;
  height: 290px; }
  .subscribe.purple {
    background: url("../assets/img/subscribe-purple-bg.png"); }
  .subscribe .container, .subscribe .row {
    height: 100%; }
  .subscribe .title {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -1px;
    height: 66px;
    margin-bottom: 16px; }
  .subscribe .text {
    font-family: Manrope-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px; }

.fullsizemap {
  height: 451px; }

.rooms-text-block .first-text {
  font-size: 20px;
  color: #07041A;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 39px; }
.rooms-text-block .second-text {
  font-size: 32px;
  color: #07041A;
  letter-spacing: 0;
  font-weight: 200;
  padding-bottom: 41px;
  border-bottom: 2px solid #D1CEF4;
  margin-bottom: 32px;
  padding-right: 108px; }
.rooms-text-block .cost-block {
  padding-bottom: 32px;
  border-bottom: 2px solid #D1CEF4;
  margin-bottom: 62px; }
  .rooms-text-block .cost-block--title {
    font-size: 20px;
    font-weight: 500;
    color: #3B35A5;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 16px; }
  .rooms-text-block .cost-block--item {
    line-height: 32px;
    font-size: 20px;
    color: #000;
    margin-bottom: 11px; }
    .rooms-text-block .cost-block--item img {
      margin-left: 14px; }
    .rooms-text-block .cost-block--item:last-of-type {
      margin-bottom: 0; }
.rooms-text-block .title {
  font-size: 36px;
  color: #07041A;
  letter-spacing: -0.5px;
  line-height: 48px;
  margin-bottom: 44px;
  font-weight: bold; }
.rooms-text-block .svg-tiles {
  display: flex;
  flex-wrap: wrap; }
  .rooms-text-block .svg-tiles__item {
    width: 181px;
    text-align: center;
    margin-right: auto; }
    .rooms-text-block .svg-tiles__item:nth-of-type(3n+1) {
      margin-right: 64px; }
    .rooms-text-block .svg-tiles__item:nth-of-type(3n) {
      margin-right: 0; }
    .rooms-text-block .svg-tiles__item .img {
      margin-bottom: 32px; }
    .rooms-text-block .svg-tiles__item .text {
      height: 64px;
      margin-bottom: 58px;
      font-size: 14px;
      color: #706E7A;
      letter-spacing: 0;
      text-align: center;
      line-height: 20px; }
.rooms-text-block .we-have {
  margin-bottom: 45px; }
  .rooms-text-block .we-have__item {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 23px; }
    .rooms-text-block .we-have__item img {
      margin-right: 18px;
      margin-top: -2px; }
    .rooms-text-block .we-have__item:last-of-type {
      margin-bottom: 0; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery__item {
    background: lightgrey;
    margin-bottom: 25px; }
    .gallery__item.col-1-3 {
      width: 32%;
      height: 321px; }
    .gallery__item.col-1-1 {
      width: 100%;
      height: 655px; }
    .gallery__item.col-2-5 {
      height: 398px;
      width: 41%; }
    .gallery__item.col-3-5 {
      height: 398px;
      width: 57%; }
    @media (max-width: 991px) {
      .gallery__item {
        width: 100% !important;
        height: auto !important; } }

.promo-slider {
  position: relative; }
  @media (max-width: 991px) {
    .promo-slider {
      display: none; } }
  .promo-slider .item {
    position: relative;
    max-height: 480px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center; }
    .promo-slider .item img {
      max-width: 100%;
      width: 100%; }
    .promo-slider .item .dots {
      position: absolute;
      bottom: 45px;
      cursor: pointer; }
    .promo-slider .item .text {
      background: rgba(59, 53, 165, 0.5);
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column; }
      .promo-slider .item .text h3 {
        font-size: 45px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0px;
        font-weight: 300;
        width: 100%;
        line-height: 64px; }
        .promo-slider .item .text h3 .big {
          font-size: 100px;
          font-weight: 200; }
      .promo-slider .item .text p {
        width: 100%;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: 200;
        text-align: center; }
  .promo-slider.--small .item {
    max-height: 272px; }
    .promo-slider.--small .item .text h3 {
      font-size: 36px; }
    .promo-slider.--small .item .text p {
      font-size: 20px; }
  .promo-slider .promo-slider-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; }
    .promo-slider .promo-slider-nav button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: rgba(52, 45, 111, 0.18);
      border-radius: 4px;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 17px;
      padding-bottom: 19px;
      z-index: 5;
      border: 0;
      width: 60px;
      height: 60px;
      cursor: pointer; }
      .promo-slider .promo-slider-nav button:hover {
        background: rgba(52, 45, 111, 0.4); }
      .promo-slider .promo-slider-nav button.btn-left {
        left: 32px; }
      .promo-slider .promo-slider-nav button.btn-right {
        right: 32px; }

.promo-mobile-slider {
  position: relative; }
  @media (min-width: 992px) {
    .promo-mobile-slider {
      display: none; } }
  .promo-mobile-slider .item {
    position: relative; }
    .promo-mobile-slider .item img {
      max-width: 100%;
      width: 100%; }
    .promo-mobile-slider .item .text {
      background: rgba(59, 53, 165, 0.5);
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column; }
      .promo-mobile-slider .item .text h3 {
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0px;
        font-weight: 300;
        width: 100%;
        line-height: 29px;
        font-size: 21px;
        letter-spacing: 0; }
        .promo-mobile-slider .item .text h3 .big {
          font-size: 100px;
          font-weight: 200; }
      .promo-mobile-slider .item .text p {
        width: 100%;
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: 200;
        text-align: center;
        font-size: 15px;
        margin-bottom: 0; }
  .promo-mobile-slider .promo-slider-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; }
    .promo-mobile-slider .promo-slider-nav button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: rgba(52, 45, 111, 0.18);
      border-radius: 4px;
      padding: 0 6px 9px;
      z-index: 5;
      border: 0;
      width: 28px;
      height: 28px;
      cursor: pointer; }
      .promo-mobile-slider .promo-slider-nav button img {
        max-width: 100%; }
      .promo-mobile-slider .promo-slider-nav button:hover {
        background: rgba(52, 45, 111, 0.4); }
      .promo-mobile-slider .promo-slider-nav button.btn-left {
        left: 0; }
      .promo-mobile-slider .promo-slider-nav button.btn-right {
        right: 0; }

.content-section {
  padding-top: 55px; }
  @media (max-width: 991px) {
    .content-section {
      padding-top: 28px; } }

.coworking-text-block .text-big {
  margin-bottom: 27px; }
  @media (max-width: 991px) {
    .coworking-text-block .text-big {
      margin-bottom: 26px; } }
.coworking-text-block .img-w-text {
  margin-bottom: 42px; }
  @media (max-width: 991px) {
    .coworking-text-block .img-w-text {
      margin-bottom: 29px; } }
.coworking-text-block .info-container {
  margin-bottom: 51px; }
  .coworking-text-block .info-container p {
    margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .coworking-text-block .info-container {
      margin-bottom: 39px; } }
.coworking-text-block .text-normal {
  margin-bottom: 46px; }
  @media (max-width: 991px) {
    .coworking-text-block .text-normal {
      margin-bottom: 22px; } }
.coworking-text-block .opportunities-header {
  margin-bottom: 49px; }
  @media (max-width: 991px) {
    .coworking-text-block .opportunities-header {
      margin-bottom: 29px; } }
.coworking-text-block .more-block {
  margin-bottom: 12px; }
.coworking-text-block .more-header {
  margin-bottom: 33px; }
  @media (max-width: 991px) {
    .coworking-text-block .more-header {
      margin-bottom: 21px; } }

.more-block .more-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .more-block .more-text-container .more-text-item {
    width: 302px;
    margin-bottom: 45px; }
    @media (max-width: 991px) {
      .more-block .more-text-container .more-text-item {
        width: 100%;
        margin-bottom: 17px; } }
    .more-block .more-text-container .more-text-item.wider {
      width: 100%; }
    .more-block .more-text-container .more-text-item strong {
      font-weight: 500; }

.info-container {
  padding-top: 32px;
  padding-bottom: 35px;
  border-top: 2px solid #D1CEF4;
  border-bottom: 2px solid #D1CEF4; }
  @media (max-width: 991px) {
    .info-container {
      padding-top: 21px;
      padding-bottom: 21px; } }
  .info-container p:last-of-type {
    margin-bottom: 0; }

.img-w-text {
  position: relative; }
  .img-w-text img {
    position: relative;
    width: 260px;
    height: 180px; }
  .img-w-text .text-block {
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 380px;
    transform: translateX(190px); }
  @media (max-width: 991px) {
    .img-w-text img {
      width: 155px;
      height: 107px; }
    .img-w-text .text-block {
      top: 4px;
      width: 185px;
      transform: translateX(105px); } }

.opportunities-block {
  width: 100%;
  margin-bottom: 31px; }
  @media (max-width: 991px) {
    .opportunities-block {
      margin-bottom: 24px; } }
  .opportunities-block .opportunity-item {
    width: 100%;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 2px solid #EBEAF2;
    padding-top: 32px;
    padding-bottom: 29px; }
    @media (max-width: 991px) {
      .opportunities-block .opportunity-item {
        padding-top: 17px;
        padding-bottom: 0; } }
    .opportunities-block .opportunity-item:nth-of-type(1) {
      border-top: 0;
      padding-top: 0; }
    .opportunities-block .opportunity-item .name-block {
      width: 159px;
      margin-right: 31px; }
      @media (max-width: 991px) {
        .opportunities-block .opportunity-item .name-block {
          width: 100%;
          margin-right: 0;
          padding-bottom: 12px;
          display: flex; }
          .opportunities-block .opportunity-item .name-block p {
            max-width: 90%;
            margin-right: auto; } }
      @media (min-width: 992px) {
        .opportunities-block .opportunity-item .name-block a {
          display: none; } }
      .opportunities-block .opportunity-item .name-block a svg {
        transition: all .2s; }
      .opportunities-block .opportunity-item .name-block a[aria-expanded="true"] svg {
        transform: rotate(45deg); }
      .opportunities-block .opportunity-item .name-block p {
        font-size: 14px;
        font-weight: 500;
        color: #3B35A5;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 16px; }
        @media (max-width: 991px) {
          .opportunities-block .opportunity-item .name-block p {
            margin-bottom: 0; } }
      .opportunities-block .opportunity-item .name-block button {
        margin-bottom: 3px; }
        @media (max-width: 991px) {
          .opportunities-block .opportunity-item .name-block button {
            display: none; } }
    .opportunities-block .opportunity-item .mobile-text-block {
      text-align: center; }
      .opportunities-block .opportunity-item .mobile-text-block p {
        text-align: left;
        font-size: 12px;
        margin-bottom: 16px; }
      .opportunities-block .opportunity-item .mobile-text-block button {
        margin-bottom: 25px; }
    .opportunities-block .opportunity-item .text-block {
      width: 445px;
      font-size: 14px;
      font-weight: 300;
      color: #07041A;
      letter-spacing: 0;
      line-height: 20px; }
      @media (max-width: 991px) {
        .opportunities-block .opportunity-item .text-block {
          display: none; } }

footer .footer-promo {
  display: flex;
  position: relative;
  height: 240px; }
  footer .footer-promo .img {
    max-width: 100%;
    width: 100%; }
  footer .footer-promo .h3 {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    color: white;
    height: 48px; }
    @media (max-width: 991px) {
      footer .footer-promo .h3 {
        height: 90px; } }
footer .green-line-container {
  background: #3DD89D;
  padding-top: 21px;
  padding-bottom: 22px; }
  @media (max-width: 991px) {
    footer .green-line-container {
      padding-top: 10px;
      padding-bottom: 11px; }
      footer .green-line-container .row {
        align-items: center; } }
  footer .green-line-container .logo {
    margin-right: 19px; }
    footer .green-line-container .logo:hover {
      text-decoration: none; }
    @media (max-width: 991px) {
      footer .green-line-container .logo img {
        width: 64px;
        margin-bottom: 7px; } }
  footer .green-line-container .change-city {
    margin-right: 16px; }
  @media (max-width: 991px) {
    footer .green-line-container .change-city {
      height: 15px; }
      footer .green-line-container .change-city__title:after {
        background: white; } }
  @media (min-width: 992px) {
    footer .green-line-container .change-city {
      display: inline-block; } }
  footer .green-line-container .social-link-block {
    display: flex;
    align-items: center; }
    footer .green-line-container .social-link-block .social-link-block__item {
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 100%;
      margin-right: 12px; }
      @media (max-width: 991px) {
        footer .green-line-container .social-link-block .social-link-block__item {
          width: 25px;
          height: 25px; }
          footer .green-line-container .social-link-block .social-link-block__item svg {
            max-width: 100%; } }
      footer .green-line-container .social-link-block .social-link-block__item:last-of-type {
        margin-right: 0; }
      footer .green-line-container .social-link-block .social-link-block__item svg g, footer .green-line-container .social-link-block .social-link-block__item svg path {
        transition: all .2s;
        fill: #3DD89D; }
      footer .green-line-container .social-link-block .social-link-block__item:hover svg g, footer .green-line-container .social-link-block .social-link-block__item:hover svg path {
        fill: #3B35A5; }
footer .footer-container {
  padding-top: 40px; }
  @media (max-width: 991px) {
    footer .footer-container {
      padding-top: 17px; } }
  footer .footer-container .footer-main-row {
    position: relative; }
    footer .footer-container .footer-main-row:after {
      position: absolute;
      content: '';
      height: 2px;
      background: #EBEAF2;
      width: 100%;
      bottom: 0; }
      @media (max-width: 991px) {
        footer .footer-container .footer-main-row:after {
          width: calc(100% - 30px);
          left: 0;
          right: 0;
          margin: auto; } }
  footer .footer-container .footer-secondary-row {
    padding-top: 22px;
    padding-bottom: 20px; }
    @media (max-width: 991px) {
      footer .footer-container .footer-secondary-row {
        justify-content: center;
        padding-bottom: 80px; }
        footer .footer-container .footer-secondary-row a.text-small {
          display: none; } }
    footer .footer-container .footer-secondary-row a.text-small {
      color: #706E7A;
      transition: all .2s; }
      footer .footer-container .footer-secondary-row a.text-small:hover {
        text-decoration: none;
        color: #3DD89D; }
  @media (max-width: 991px) {
    footer .footer-container .map-container {
      order: 1; }
    footer .footer-container .contacts-container {
      text-align: center;
      order: 2; }
      footer .footer-container .contacts-container .text-small {
        font-size: 12px;
        font-weight: 300;
        color: #07041A;
        letter-spacing: 0;
        line-height: 17px;
        display: block;
        margin-bottom: 17px; } }
  footer .footer-container .footer-link-container {
    margin-bottom: 20px; }
  footer .footer-container .footer-link {
    font-weight: 500;
    font-size: 14px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 20px;
    transition: all .2s;
    text-transform: uppercase; }
    footer .footer-container .footer-link:hover {
      text-decoration: none;
      color: #3DD89D; }
  footer .footer-container .footer-link-green {
    font-size: 14px;
    color: #3DD89D;
    letter-spacing: 0;
    line-height: 20px;
    transition: all .2s;
    text-decoration: underline; }
    footer .footer-container .footer-link-green svg p, footer .footer-container .footer-link-green svg g {
      transition: all .2s;
      fill: #3DD89D; }
    footer .footer-container .footer-link-green svg.phone {
      margin-right: 10px; }
    footer .footer-container .footer-link-green svg.mail {
      margin-right: 9px; }
    footer .footer-container .footer-link-green:hover {
      text-decoration: none;
      color: #3B35A5; }
      footer .footer-container .footer-link-green:hover svg p, footer .footer-container .footer-link-green:hover svg g {
        transition: all .2s;
        fill: #3B35A5; }
  footer .footer-container .footer-tg-btn-container {
    display: flex;
    padding-top: 10px; }
    @media (max-width: 991px) {
      footer .footer-container .footer-tg-btn-container {
        justify-content: center;
        margin-bottom: 25px; } }
    footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link {
      padding: 5px 21px 7px 15px;
      display: flex;
      align-items: center;
      border-radius: 32px;
      border: 2px solid #3DD89D;
      transition: all .2s; }
      footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link svg {
        margin-right: 15px; }
        footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link svg g {
          transition: all .2s;
          fill: #3DD89D; }
      footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link .text {
        font-size: 10px;
        color: #07041A;
        letter-spacing: 0;
        line-height: 16px; }
      footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link:hover {
        background: #3DD89D;
        text-decoration: none; }
        footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link:hover svg g {
          fill: white; }
        footer .footer-container .footer-tg-btn-container .footer-tg-btn-container__link:hover .text {
          color: white; }
  footer .footer-container .footer-map {
    width: 100%;
    height: 170px;
    margin-bottom: 22px; }
    @media (max-width: 991px) {
      footer .footer-container .footer-map {
        width: 100%; } }

.tariffes {
  background-image: linear-gradient(-180deg, #3B35A5 0%, #3DD89D 100%);
  padding-bottom: 18px;
  padding-top: 54px; }
  .tariffes__title {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 19px; }
  .tariffes__text {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    margin-bottom: 72px; }
  .tariffes__tile {
    padding: 36px 37px 40px 38px;
    background: #FFFFFF;
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-bottom: 36px;
    min-height: 436px;
    display: flex;
    flex-direction: column; }
    .tariffes__tile--title {
      font-size: 24px;
      font-weight: bold;
      color: #07041A;
      letter-spacing: 0;
      line-height: 32px;
      margin-bottom: 13px; }
      .tariffes__tile--title.mb-27 {
        margin-bottom: 27px; }
    .tariffes__tile--text {
      font-size: 20px;
      color: #07041A;
      letter-spacing: 0;
      line-height: 32px;
      margin-bottom: 27px; }
      .tariffes__tile--text.v2 {
        margin-bottom: 13px; }
        .tariffes__tile--text.v2:last-of-type {
          margin-bottom: 32px; }
    .tariffes__tile .inline-radios {
      margin-bottom: 32px; }
      .tariffes__tile .inline-radios label {
        margin-bottom: 0; }
    .tariffes__tile--rules {
      padding-bottom: 32px;
      border-bottom: 2px solid #EBEAF2;
      margin-bottom: 24px; }
      .tariffes__tile--rules .rule {
        font-size: 14px;
        color: #706E7A;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 20px; }
        .tariffes__tile--rules .rule img {
          width: 11px;
          margin-right: 20px;
          position: relative;
          top: -2px; }
        .tariffes__tile--rules .rule:last-of-type {
          margin-bottom: 0; }
    .tariffes__tile--price {
      font-size: 20px;
      color: #000;
      margin-bottom: 29px; }
      .tariffes__tile--price span {
        font-size: 36px; }
      .tariffes__tile--price .--old {
        color: #6E69B2;
        margin-right: 19px;
        text-decoration: line-through; }
      .tariffes__tile--price .--text {
        font-size: 14px;
        color: #706E7A;
        letter-spacing: 0;
        line-height: 20px; }
    .tariffes__tile button {
      margin-top: auto; }

.faq-section {
  padding-top: 55px;
  padding-bottom: 25px; }

.faq-item {
  position: relative;
  padding-bottom: 38px;
  border-bottom: 2px solid #EBEAF2;
  margin-bottom: 30px; }
  .faq-item__title {
    font-size: 24px;
    color: #3DD89D;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    width: 735px;
    display: block;
    transition: all .2s; }
    .faq-item__title:hover {
      color: #3B35A5;
      text-decoration: none; }
    .faq-item__title[aria-expanded="true"] {
      margin-bottom: 17px; }
  .faq-item__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px; }
    .faq-item__arrow[aria-expanded="true"] {
      transform: scale(1, -1); }
  .faq-item__content {
    width: 735px;
    font-size: 20px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 32px; }

.tile-item {
  background: white;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  transition: all .3s;
  box-shadow: none; }
  .tile-item:hover {
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.12); }
    .tile-item:hover .title {
      display: none; }
    .tile-item:hover .price {
      display: inline;
      -webkit-animation: opacity .3s ease-in;
      -o-animation: opacity .3s ease-in;
      animation: opacity .3s ease-in; }
    .tile-item:hover .arrow {
      display: block;
      -webkit-animation: opacity .2s ease-in;
      -o-animation: opacity .2s ease-in;
      animation: opacity .2s ease-in; }
    .tile-item:hover .tile-item__img img {
      opacity: .5; }
    .tile-item:hover .tile-item__img--hover {
      opacity: 1; }
  .tile-item__img {
    margin-bottom: 32px;
    position: relative; }
    .tile-item__img img {
      max-width: 100%;
      width: 100%;
      transition: all .2s; }
    .tile-item__img--hover {
      background: rgba(59, 53, 165, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0;
      transition: all .2s; }
  .tile-item__text {
    position: relative;
    padding-left: 40px;
    padding-right: 103px;
    padding-bottom: 40px; }
    .tile-item__text__text {
      font-size: 14px;
      color: #706E7A;
      letter-spacing: 0;
      line-height: 20px;
      min-height: 60px; }
    .tile-item__text__title {
      font-size: 36px;
      color: #07041A;
      letter-spacing: -0.5px;
      line-height: 48px;
      font-weight: bold;
      margin-bottom: 16px; }
      @media (max-width: 991px) {
        .tile-item__text__title {
          white-space: nowrap;
          font-size: 20px; } }
      .tile-item__text__title .price {
        transform: translateX(-200px);
        color: #3DD89D;
        display: none; }
    .tile-item__text .arrow {
      display: none;
      top: 43px;
      right: 45px;
      position: absolute; }
  .tile-item.blog {
    border: 1px solid #EBEAF2;
    border-radius: 10px; }
    .tile-item.blog:hover .tile-item__text__title {
      color: #3DD89D; }
    .tile-item.blog .tile-item__text {
      padding-left: 31px;
      padding-bottom: 15px;
      padding-right: 35px;
      min-height: 246px; }
    .tile-item.blog .tile-item__text__title {
      font-size: 15px;
      font-weight: 500;
      color: #07041A;
      letter-spacing: 0;
      transition: all .2s;
      line-height: 25px;
      margin-bottom: 17px; }
    .tile-item.blog .tile-item__text__text {
      font-size: 14px;
      color: #706E7A;
      letter-spacing: 0;
      line-height: 20px; }
    .tile-item.blog .tile-item__img {
      margin-bottom: 29px; }

.main-tariffes {
  padding-top: 57px;
  padding-bottom: 32px; }

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
.call-back-form {
  background: #F8F7FA;
  padding: 34px 48px 34px 40px;
  top: 89px;
  margin-bottom: 16px; }
  .call-back-form .close-form {
    display: none; }
  .call-back-form .close-modal {
    position: absolute;
    right: 15px;
    top: 15px; }
    .call-back-form .close-modal a:hover {
      text-decoration: none; }
  @media (max-width: 991px) {
    .call-back-form {
      padding: 20px 15px 40px;
      height: 100vh;
      z-index: 5000;
      position: relative; }
      .call-back-form .close-form {
        display: block;
        padding: 0;
        border: 0;
        background: transparent;
        position: absolute;
        right: 15px;
        top: 19px; } }
  .call-back-form .input-form {
    margin-bottom: 16px; }
    .call-back-form .input-form.mb-16 {
      margin-bottom: 16px; }
    .call-back-form .input-form.mb-26 {
      margin-bottom: 26px; }
  .call-back-form button {
    margin-bottom: 21px; }
  .call-back-form .checkbox-form {
    padding-left: 25px; }
    @media (max-width: 991px) {
      .call-back-form .checkbox-form {
        padding-left: 3px; } }
  .call-back-form .date-time-row {
    display: flex;
    margin-bottom: 24px; }
    .call-back-form .date-time-row__item {
      margin-right: 16px; }
      .call-back-form .date-time-row__item:last-of-type {
        margin-right: 0; }
      .call-back-form .date-time-row__item label {
        width: 100%;
        margin-bottom: 13px;
        font-size: 14px;
        color: #07041A;
        letter-spacing: 0;
        line-height: 19px; }
      .call-back-form .date-time-row__item input {
        height: 40px;
        width: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        text-align: center;
        border: 1px solid #D1CEF4;
        border-radius: 4px;
        transition: all .2s;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 20px;
        color: #3B35A5;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .call-back-form .date-time-row__item input::placeholder {
          color: #6E69B2; }
        .call-back-form .date-time-row__item input::-moz-placeholder {
          color: #6E69B2; }
        .call-back-form .date-time-row__item input::-webkit-input-placeholder {
          color: #6E69B2; }
        .call-back-form .date-time-row__item input::-ms-input-placeholder {
          color: #6E69B2; }
        .call-back-form .date-time-row__item input:focus {
          border: 1px solid #3B35A5;
          outline: none; }

.call-back-form__title {
  font-size: 24px;
  color: #3B35A5;
  letter-spacing: 0;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 32px; }
  @media (max-width: 991px) {
    .call-back-form__title {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 28px; } }

.input-form {
  display: flex;
  position: relative;
  flex-wrap: wrap; }
  .input-form input {
    flex: 1 1 auto;
    height: 56px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    background: white;
    border: 1px solid #D1CEF4;
    border-radius: 4px;
    transition: all .2s;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    color: #3B35A5;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .input-form input::placeholder {
      color: #6E69B2; }
    .input-form input::-moz-placeholder {
      color: #6E69B2; }
    .input-form input::-webkit-input-placeholder {
      color: #6E69B2; }
    .input-form input::-ms-input-placeholder {
      color: #6E69B2; }
    .input-form input.error {
      border-color: #D83D51; }
      .input-form input.error + .error-msg {
        display: block; }
    .input-form input:focus {
      border: 1px solid #3B35A5;
      outline: none; }
  .input-form .error-msg {
    display: none;
    width: 100%;
    font-size: 10px;
    color: #D83D51;
    text-align: right; }
  .input-form.w-icon {
    position: relative; }
    .input-form.w-icon input {
      padding-right: 60px; }
    .input-form.w-icon .icon {
      cursor: pointer;
      border: 0;
      padding: 0;
      background: transparent;
      display: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px; }

.checkbox-form input {
  display: none; }
.checkbox-form input:checked + label:after {
  opacity: 1; }
.checkbox-form label {
  padding-left: 28px;
  position: relative;
  font-size: 10px;
  color: #706E7A;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0; }
  .checkbox-form label:hover:after {
    opacity: .3; }
  .checkbox-form label:before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border: 1px solid #D1CEF4;
    left: 0;
    top: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .checkbox-form label:after {
    position: absolute;
    content: '✔';
    color: #3DD89D;
    left: 3px;
    top: 0;
    opacity: 0;
    font-size: 16px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }

.checkbox-container {
  margin-bottom: 30px; }
  .checkbox-container__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    .checkbox-container__item:last-of-type {
      margin-bottom: 0; }
    .checkbox-container__item input {
      display: none; }
      .checkbox-container__item input:checked + label .custom-check img {
        transform: translateX(10px); }
      .checkbox-container__item input:checked + label .custom-check .circle {
        transform: translateX(10px);
        border-color: #3DD89D; }
    .checkbox-container__item label {
      font-size: 14px;
      color: #07041A;
      letter-spacing: 0;
      line-height: 18px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0; }
    .checkbox-container__item .custom-check {
      cursor: pointer;
      width: 70px;
      height: 36px;
      background: #FFFFFF;
      border: 1px solid #D1CEF4;
      border-radius: 20px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-right: 12px; }
      .checkbox-container__item .custom-check img {
        transform: translateX(-20px);
        transition: all .2s; }
      .checkbox-container__item .custom-check .circle {
        transition: all .2s;
        transform: translateX(-20px);
        background: #FFFFFF;
        border: 4px solid #6E69B2;
        width: 26px;
        height: 26px;
        margin-left: 12px;
        border-radius: 100%; }

.input-w-icon {
  height: 56px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #D1CEF4;
  border-radius: 4px; }
  .input-w-icon input {
    background: transparent;
    border: 0; }

.inline-radios {
  display: flex; }
  .inline-radios input {
    display: none; }
    .inline-radios input:checked + .inline-radios__item {
      background: #3DD89D;
      color: white;
      font-weight: bold;
      border-radius: 4px; }
  .inline-radios__item {
    padding: 9px 25px;
    font-size: 14px;
    border: 1px solid #3DD89D;
    border-right: 0;
    color: #3DD89D;
    margin-bottom: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: -2px;
    cursor: pointer;
    transition: all .2s; }
    .inline-radios__item:hover {
      background: rgba(61, 216, 157, 0.18); }
    .inline-radios__item:first-of-type {
      margin-left: 0; }
    .inline-radios__item:last-of-type {
      border-right: 1px solid #3DD89D; }

.noUi-tooltip {
  display: none; }

.noUi-active .noUi-tooltip {
  display: block; }

.noUi-handle {
  outline: none; }

.slider-container {
  margin-top: 7px;
  margin-bottom: 46px; }
  .slider-container.mb-37 {
    margin-bottom: 37px; }
  .slider-container .slider-label {
    font-weight: 300;
    margin-bottom: 14px;
    display: block;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0; }
  .slider-container .slider-ticks {
    margin-bottom: 20px;
    display: flex; }
    .slider-container .slider-ticks span {
      font-size: 14px;
      color: #6E69B2;
      letter-spacing: 0;
      font-weight: 300;
      line-height: 20px; }
      .slider-container .slider-ticks span:nth-of-type(1) {
        margin-right: 50px; }
      .slider-container .slider-ticks span:nth-of-type(2) {
        margin-right: 138px; }
      .slider-container .slider-ticks span:nth-of-type(3) {
        margin-right: auto; }
    .slider-container .slider-ticks.hall span {
      font-size: 14px;
      color: #6E69B2;
      letter-spacing: 0;
      font-weight: 300;
      line-height: 20px; }
      .slider-container .slider-ticks.hall span:nth-of-type(1) {
        margin-left: 0;
        margin-right: 75px; }
      .slider-container .slider-ticks.hall span:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0; }
      .slider-container .slider-ticks.hall span:nth-of-type(3) {
        margin-right: 0;
        margin-left: auto; }

.noUi-base {
  width: 97%; }

.noUi-target {
  height: 2px;
  background: #D1CEF4;
  border: 0;
  box-shadow: none; }
  .noUi-target .noUi-handle {
    cursor: pointer;
    transition: all .2s;
    border-radius: 100%;
    background: #FFFFFF;
    width: 26px;
    height: 26px;
    top: -13px;
    border: 4px solid #6E69B2; }
    .noUi-target .noUi-handle:hover {
      border-color: #3DD89D; }
    .noUi-target .noUi-handle.noUi-active {
      border-color: #3DD89D; }
    .noUi-target .noUi-handle:after, .noUi-target .noUi-handle:before {
      display: none; }

.modal-form {
  width: 450px; }

.modal-backdrop {
  background: #07041a; }
  .modal-backdrop.show {
    opacity: .8; }

.mobile-close-modal {
  z-index: 20;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: absolute;
  right: 15px;
  padding: 0;
  top: 19px; }
  .mobile-close-modal img {
    width: 21px;
    height: 20px; }
  @media (min-width: 992px) {
    .mobile-close-modal {
      display: none; } }

.modal-dialog.modal-slider {
  margin-top: 72px;
  position: relative;
  margin-bottom: 0; }
  @media (min-width: 992px) {
    .modal-dialog.modal-slider {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .modal-dialog.modal-slider {
      max-width: 1115px; } }
  @media (max-width: 991px) {
    .modal-dialog.modal-slider {
      margin-left: auto;
      margin-right: auto;
      margin-top: 168px; } }
  .modal-dialog.modal-slider .modal-content {
    background: transparent;
    border: 0;
    border-radius: 0; }
  .modal-dialog.modal-slider .promo-slider-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; }
    .modal-dialog.modal-slider .promo-slider-nav button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: rgba(52, 45, 111, 0.18);
      border-radius: 4px;
      z-index: 5;
      border: 0;
      cursor: pointer; }
      .modal-dialog.modal-slider .promo-slider-nav button img {
        max-width: 100%; }
      .modal-dialog.modal-slider .promo-slider-nav button:hover {
        background: rgba(52, 45, 111, 0.4); }
      .modal-dialog.modal-slider .promo-slider-nav button.btn-left {
        left: 0; }
      .modal-dialog.modal-slider .promo-slider-nav button.btn-right {
        right: 0; }
  .modal-dialog.modal-slider .slider-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 5; }
    .modal-dialog.modal-slider .slider-nav button {
      position: absolute;
      top: 280px;
      margin: auto;
      background: rgba(52, 45, 111, 0.8);
      border-radius: 4px;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 17px;
      padding-bottom: 19px;
      z-index: 10000;
      border: 0;
      width: 60px;
      height: 60px;
      cursor: pointer; }
      @media (max-width: 991px) {
        .modal-dialog.modal-slider .slider-nav button {
          padding: 0 6px 9px;
          width: 28px;
          height: 28px; }
          .modal-dialog.modal-slider .slider-nav button img {
            max-width: 100%; } }
      .modal-dialog.modal-slider .slider-nav button:hover {
        background: rgba(52, 45, 111, 0.9); }
      .modal-dialog.modal-slider .slider-nav button.btn-left {
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .modal-dialog.modal-slider .slider-nav button.btn-right {
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
  .modal-dialog.modal-slider .item .text {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 20px;
    background: rgba(7, 4, 26, 0.8); }
    @media (max-width: 991px) {
      .modal-dialog.modal-slider .item .text {
        position: relative;
        padding: 19px 15px 20px; } }
    .modal-dialog.modal-slider .item .text p {
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 32px;
      font-weight: 200;
      margin-bottom: 0; }
      @media (max-width: 991px) {
        .modal-dialog.modal-slider .item .text p {
          font-size: 12px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 17px; }
          .modal-dialog.modal-slider .item .text p br {
            display: none; } }
  .modal-dialog.modal-slider .close-modal {
    z-index: 20;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    right: 24px;
    top: 24px; }
    @media (max-width: 991px) {
      .modal-dialog.modal-slider .close-modal {
        display: none; } }

.bottom-f-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  background-color: #F8F7FA; }
  @media (min-width: 991px) {
    .bottom-f-btn {
      display: none; } }
  .bottom-f-btn .button.btn-grn {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
    padding-top: 0;
    padding-bottom: 0; }

.mobile-application {
  position: fixed;
  bottom: 0;
  z-index: 20; }