.blog-tile{
  width: 100%;
  margin-bottom: 52px;
  cursor: pointer;
  &__album{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 208px;
    overflow: hidden;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      max-height: 208px;
    };
    @media (max-width: 1200px) {
      max-height: 186px;
    };

    img{
      width: 100%;
      max-width: 100%;
    }

    .author{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;
      background-image: linear-gradient(0deg, rgba(7,4,26,0.00) 56%, rgba(7, 4, 26, 0.7) 99%);
      img{
        height: 41px;
        width: 41px;
        border-radius: 100%;
        margin-right: 18px;
      }
      span{
        margin-top: 11px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 20px;
        &:nth-of-type(1){
          font-weight: bold;
        }
      }
    }
  }

  &__title{
    font-weight: 500;
    font-size: 24px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 19px;
  }

  &__text{
    font-size: 14px;
    color: #706E7A;
    letter-spacing: 0;
    line-height: 20px;
  }

  &:hover{
    .author{
      background-image: linear-gradient(0deg, rgba(7,4,26,0.00) 56%, rgba(59, 53, 165, 0.7) 99%);
    }
    .blog-tile__title{
      color: #3DD89D;
    }

  }
}

.blog-view{
  .social-blocks{
    padding-top: 46px;
    border-top:2px solid #EBEAF2;
  }
  .title{
    font-size: 48px;
    font-weight: bold;
    color: #07041A;
    letter-spacing: -1px;
    margin-bottom: 17px;
    line-height: 66px;
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 44px;
    }
  }
  .subtitle{
    font-weight: 200;
    font-size: 32px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 68px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
    &.bordered{
      border-top: 4px solid #3DD89D;
      border-bottom: 4px solid #3DD89D;
      margin-bottom: 52px;
      padding: 48px 50px 47px;
      @media (max-width: 558px) {
        padding: 20px;
      }
    }

  }
  .text{
    margin-bottom: 49px;
    font-size: 20px;
    color: #07041A;
    letter-spacing: 0;
    line-height: 32px;
  }
  .quote{
    position: relative;
    padding: 48px 41px 45px;
    border-top: 4px solid #3DD89D;
    border-bottom: 4px solid #3DD89D;
    margin-bottom: 56px;
    @media (max-width: 558px) {
      padding: 52px 15px 45px 30px;
    };
    &__text{
      margin-bottom: 23px;
      font-size: 32px;
      font-weight: 200;
      color: #07041A;
      letter-spacing: 0;
      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &:before{
      content: '«';
      position: absolute;
      font-size: 36px;
      font-weight: bold;
      color: #3DD89D;
      letter-spacing: -0.5px;
      line-height: 48px;
      top:42px;
      left:0;

    }
  }

  &__info{
    top: 89px;

    .date{
      border-top: 2px solid #EBEAF2;
      span{
        position: absolute;
        width: 115px;
        background: white;
        font-weight: 500;
        font-size: 14px;
        color: #3B35A5;
        letter-spacing: 0;
        left:0;
        right:0;
        top: -9px;
        margin: auto;
        text-align: center;
        line-height: 20px;
        text-transform:uppercase;
      }
    }
    .autor-info{
      margin-bottom: 29px;
      margin-top: 33px;
    }
    .social-blocks{
      padding-top: 24px;
      border-top: 2px solid #EBEAF2;
      @media (max-width: 1200px) {
        justify-content: center;
      };
      @media (max-width: 767px) {
        justify-content: space-between;
      };
      @media (max-width: 374px) {
        justify-content: center;
      };
    }
  }
}

.autor-info{
  display: flex;
  align-items: center;
  &__avatar{
    border-radius: 100%;
    overflow: hidden;
    width: 71px;
    height: 71px;
    margin-right: 24px;
    img{
      width: 100%;
      max-width: 100%;
    }
  }
  &__text{
    width: 254px;
    .name{
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: bold;
      color: #07041A;
      letter-spacing: 0;
      line-height: 29px;
    }
    .level{
      font-size: 14px;
      color: #706E7A;
      letter-spacing: 0;
      line-height: 20px;
      min-height: 52px;
    }
  }
}