.select2{
    *{
        outline: none;

    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 10px;
    color:$black;
    letter-spacing: 0;
    line-height: 2.4;
    @media(max-width:991px){
        line-height: 15px;
        padding-left: 0;
    }
    padding-right: 28px;
    padding-left: 14px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #3DD89D;
    border-radius: 14px;
    height: 28px;
    @media(max-width:991px){
        height: 15px;
        border: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color:$green transparent transparent transparent;
    border-width: 7px 4px 0 4px;
    margin-left: -9px;
    margin-top: -4px;
    @media(max-width:991px){
        margin-top: -10px;
    }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color:transparent transparent $green transparent;
    border-width: 0 4px 7px 4px;
    margin-left: -9px;
    margin-bottom: -4px;
    @media(max-width:991px){
        margin-top: -10px;
    }
}
.select2-container{
    width: auto;
    @media(max-width:991px){
        top: -7px;
    }
}
.select2-dropdown{
    top: 11px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.select2-results__option{
    font-size: 10px;
}

.select2-dropdown{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $green;
}
.select2-container--open .select2-dropdown--below{
    border-top: 1px solid $green;
    border-radius: 10px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $green;
}