@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/regular.otf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/light.otf');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/bold.otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/medium.otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/semibold.otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Apple';
	src: url('../assets/fonts/thin.otf');
	font-weight: 100;
	font-style: normal;
}